
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>石家庄佳丰物流有限公司（上善若水 厚德载物）_石家庄长安区物流专线公司_绿蚂蚁</title>
    <meta name="keywords" content="石家庄佳丰物流有限公司,上善若水 厚德载物,石家庄长安区物流专线公司,石家庄佳丰物流有限公司介绍,石家庄佳丰物流有限公司物流查询,石家庄佳丰物流有限公司电话号码,石家庄佳丰物流有限公司物流价格查询"/>
    <meta name="description" content="石家庄佳丰物流有限公司"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-stand|ie-comp" />
    <link rel="shortcut icon" type="image/x-icon" href="http://www.lvmae.com/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/common.css?version=201709018"></link>
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/zzsc.css"></link>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery-3.2.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/hj.configCity.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.chooseCity-1.2.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.cookie.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/functions.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.plugins.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/kslide.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/config.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/zzsc.min.js" charset="UTF-8"></script>
    <script type="text/javascript">
        var _HotLineScrollTop = "";
        var basePath = "http://www.lvmae.com/";
        var resourcePath = "http://img.lvmae.com/JAVA";
        var baseLebpPath = "http://kuaidi.lvmae.com";
        var userLogoPath = "http://img.lvmae.com/image/UserHeadPortrait/";
    </script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/hj.common.js" charset="UTF-8"></script>
</head>
<body>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<!-- Header Start -->
<div class="header">
    <div class="top">
        <div class="wrap">
            <div class="top-left">
                <span><a href="http://www.lvmae.com/member" target="_blank" rel="nofollow">17638335194</a></span>，您好！<a href="http://www.lvmae.com/member/logout.php" rel="nofollow">退出</a>
            </div>
            <div class="top-right">
                <ul class="item-list">
                    <li class="item">当前城市：</li>
                    <li class="item top-area dropdown">
                        <div class="top-area-content dropdown-box">
                            <span class="main-color" id="selectArea">深圳<a>[切换城市]</a></span>
                        </div>
                    </li>
                    <li class="item"><span class="icon icons-position"></span></li>
                    <li class="item tel-app dropdown">
                        <div class="tel-app-content dropdown-box">
                            &nbsp;&nbsp;<span class="icons-photo"></span>&nbsp;<span>手机APP</span>&nbsp;<span class="icons-arrow-down"></span>&nbsp;&nbsp;
                        </div>
                        <div class="menu">
                            <div class="ewm-box">
                                <p>扫描二维码<br>
                                    下载安卓客户端</p>
                                <p><img src="http://www.lvmae.com/skin/default/images/ewm_1.jpg" alt="" width="98" height="98"></p>
                            </div>
                        </div>
                    </li>
                    <li class="item dropdown top-wx">
                        <div class="dropdown-box">
                            &nbsp;&nbsp;<span class="icons-wx"></span>&nbsp;微信号&nbsp;<span class="icons-arrow-down"></span>&nbsp;&nbsp;
                        </div>
                        <div class="menu">
                            <div class="ewm-box">
                                <p>扫描二维码<br>
                                    关注绿蚂蚁公众号</p>
                                <p><img src="http://www.lvmae.com/skin/default/images/ewm_2.jpg" alt="" width="98" height="98"></p>
                            </div>
                        </div>
                    </li>
                    <li class="item"><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" class="icons-qq" onclick="" target="_blank" title="点击这里给我发消息">&nbsp;</a></li>
                    <li class="item"><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" target="_blank" >客户服务</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="wrap">
            <div class="logo icons-logo fl"><a href="http://www.lvmae.com/" title="上绿蚂蚁发货，说走就走">上绿蚂蚁发货，说走就走</a></div>
            <div class="icons-wuli fr" style="background-image:none;"><script type="text/javascript" src="http://www.lvmae.com/file/script/A47.js"></script></div>
        </div>
    </div>
    <div class="nav">
        <div class="wrap">
            <ul>
                <span id="biaoTi"></span>
            </ul>
        </div>
    </div>
    <div class="user-center">
        <div class="wrap">
            <a href="/zhongxin" class="user-box"><em></em><span>个人中心</span></a>
        </div>
    </div>
</div>
<div class="substation-box">
    <div class="substation">
        <div class="sub-title">分站</div>
        <a class="sub-link-01" href="http://bj.lvmae.com/" target="_blank">北京</a>
        <a class="sub-link-01" href="http://sh.lvmae.com/" target="_blank">上海</a>
        <a class="sub-link-01" href="http://tj.lvmae.com/" target="_blank">天津</a>
        <a class="sub-link-01" href="http://gd.lvmae.com/" target="_blank">广东</a>
        <a class="sub-link-01" href="http://hb.lvmae.com/" target="_blank">河北</a>
        <a class="sub-link-01" href="http://shanxi.lvmae.com/" target="_blank">山西</a>
        <a class="sub-link-01" href="http://ln.lvmae.com/" target="_blank">辽宁</a>
        <a class="sub-link-01" href="http://jl.lvmae.com/" target="_blank">吉林</a>
        <a class="sub-link-01" href="http://js.lvmae.com/" target="_blank">江苏</a>
        <a class="sub-link-01" href="http://zj.lvmae.com/" target="_blank">浙江</a>
        <a class="sub-link-01" href="http://ah.lvmae.com/" target="_blank">安徽</a>
        <a class="sub-link-01" href="http://fj.lvmae.com/" target="_blank">福建</a>
        <a class="sub-link-01" href="http://jx.lvmae.com/" target="_blank">江西</a>
        <a class="sub-link-01" href="http://sd.lvmae.com/" target="_blank">山东</a>
        <a class="sub-link-01" href="http://henan.lvmae.com/" target="_blank">河南</a>
        <a class="sub-link-01" href="http://hubei.lvmae.com/" target="_blank">湖北</a>
        <a class="sub-link-01" href="http://hunan.lvmae.com/" target="_blank">湖南</a>
        <a class="sub-link-01" href="http://gx.lvmae.com/" target="_blank">广西</a>
        <a class="sub-link-01" href="http://hainan.lvmae.com/" target="_blank">海南</a>
        <a class="sub-link-01" href="http://zq.lvmae.com/" target="_blank">重庆</a>
        <a class="sub-link-01" href="http://sc.lvmae.com/" target="_blank">四川</a>
        <a class="sub-link-01" href="http://gz.lvmae.com/" target="_blank">贵州</a>
        <a class="sub-link-01" href="http://yn.lvmae.com/" target="_blank">云南</a>
        <a class="sub-link-01" href="http://xc.lvmae.com/" target="_blank">西藏</a>
        <a class="sub-link-01" href="http://sx.lvmae.com/" target="_blank">陕西</a>
        <a class="sub-link-01" href="http://gs.lvmae.com/" target="_blank">甘肃</a>
        <a class="sub-link-01" href="http://qh.lvmae.com/" target="_blank">青海</a>
        <div class="sub-more">更多<div class="sub-more-body"><a class="sub-link-01" href="http://nx.lvmae.com/" target="_blank">宁夏</a>
            <a class="sub-link-01" href="http://hlj.lvmae.com/" target="_blank">黑龙江</a>
            <a class="sub-link-01" href="http://nmg.lvmae.com/" target="_blank">内蒙古</a>
            <a class="sub-link-01" href="http://xj.lvmae.com/" target="_blank">新疆</a>
            <a class="sub-link-01" href="http://hk.lvmae.com/" target="_blank">香港</a>
            <a class="sub-link-01" href="http://tw.lvmae.com/" target="_blank">台湾</a>
            <a class="sub-link-01" href="http://am.lvmae.com/" target="_blank">澳门</a>
        </div></div>
    </div>
</div>
<!-- Header End --><script type="text/javascript" src="http://www.lvmae.com/file/script/index/main.js" charset="UTF-8"></script>
<script type="text/javascript" src="http://www.lvmae.com/file/script/index/photoshow.js" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/companydetail.css"></link>
<!--面包屑导航 start-->
<div class="position">
    <strong>当前位置：</strong>
    <a href="http://www.lvmae.com/">绿蚂蚁</a>
    <span>></span>
    <a href="http://www.lvmae.com/company">物流公司</a>
    <span>></span>
    石家庄佳丰物流有限公司（上善若水 厚德载物）
</div>
<!--面包屑导航 end-->
<!--主要内容区域 start-->
<div class="mian-wrapper">
    <!--左侧相关信息 start-->
    <div class="c-left">
        <h2 class="comName">石家庄佳丰物流有限公司</h2>
        <!--公司基本信息 start-->
        <div class="company-infor">
            <div class="com-decoration">
                <img alt="石家庄佳丰物流有限公司" src="http://www.lvmae.com/file/upload/201712/01/10-10-16-68-39928.jpg" />
                <dl>
                    <dt>(营业执照已认证)</dt>
                    <dd><span class="lt">服务保障：</span><span>
                                                        <i class="icon-zheng" title="该会员经过绿蚂蚁实地认证，安全可靠">证</i>                            <i class="icon-abc" title="该承运商的资信评级为AAA">AAA</i>
                            </span></dd>
                    <dd><span class="lt">服务宗旨：</span><span>满足客户需求，迎接市场需求，提高我们的素质，提供优质的服务！</span></dd>
                    <dd><span class="lt">联&nbsp;&nbsp;系&nbsp;&nbsp;人：</span><span>张先生</span></dd>
                    <dd><span class="lt">联系电话：</span><span>
<span style="font-size:18px;letter-spacing:1px;">13752099423</span>                            </span></dd>
                    <dd><span class="lt">联系地址：</span><span>河北石家庄市长安区润丰物流园</span></dd>
                </dl>
                <div class="attention">
                    <a id="collect"  class="collection" href="javascript:void(0);" ><span id="collect2">收藏</span></a><span>|</span>
                    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare share">
                        <span class="bds_more" style="height:26px;width:12px;"></span> <a class="bds_qzone"></a>
                        <a class="bds_tsina"></a> <a class="bds_tqq"></a>
                        <a class="bds_renren"></a>
                        <a class="shareCount"></a>
                    </div>
                    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6725816" ></script>
                    <script type="text/javascript" id="bdshell_js"></script> <script type="text/javascript">document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000) </script>
                </div>
            </div>
            <div class="credit">
                <div class="order"><a href="#orderpostion" name="orderpostion">已成交<b>2</b>单</a></div>
                <ul>
                    <li><b>注册资金：</b><span id="span1id"  ></span></li>
                    <li><b>成立年限：</b><span id="span2id" ></span></li>
                    <li><b>员工数量：</b><span id="span3id"></span></li>
                    <li><b>始发站仓储面积：</b><span id="span4id"></span></li>
                    <li><b>终端配送中心：</b><span id="span5id"></span></li>
                    <li><b>自有提送货车辆数量：</b><span id="span6id"></span></li>
                    <li><b>干线运输车辆数量：</b><span id="span7id"></span></li>
                    <li><b>装有GPS车辆数量：</b><span id="span8id"></span></li>
                    <li><b>承运人责任险：</b><span id="span9id"></span></li>
                    <li class="lastbli"><b>现场作业流程：</b><span id="span10id"></span></li>
                    <li class="lastbli"><b>网上订单查询跟踪系统：</b><span id="span11id"></span></li>
                </ul>
                <div class="update-time">更新时间：8 月前</div>
            </div>
        </div>
        <!--公司基本信息 end-->
        <!--增值服务 start-->
        <div class="value-add" id="serviceAdd">
            <b>增值服务：</b>
            <span class="service_add_grey">正本回执</span>
            <span class="service_add_grey">包装服务</span>
            <span class="service_add_grey">临时仓储</span>
            <span class="service_add_grey">高价值</span>
        </div>
        <!--增值服务 end-->
        <!--滑动门 start-->
        <div class="my-tab-1-box company-tab">
            <ul class="my-tab-1 clearfix" id="tabTitle1">
                <li data-tab="tabp1" class="tab-item fl tab-active" style="border-right:none">货运时刻表</li>
                <li data-tab="tabp2" class="tab-item fl">发车历史</li>
                <li data-tab="tabp3" id="companyPoint" class="tab-item fl">位置地图</li>
                <li data-tab="tabp4" class="tab-item fl">企业展示</li>
                <li data-tab="tabp5" class="tab-item fl">企业介绍</li>
            </ul>
            <div id="tabContent1">

                <div class="tab-content tab-active" data-tab="tabp1" >
                    <dl class="timeList">
                        暂无相关数据
                    </dl>
                </div>

                <div class="tab-content" data-tab="tabp2" >
                    <dl class="timeList">
                        暂无相关数据
                    </dl>
                </div>

                <div class="tab-content" data-tab="tabp3" >
                    <p class="company-adds"><span class="bold ">地址：</span>河北石家庄市长安区润丰物流园</p>
                    <p class="ac"><div class="map" id="map"></div></p>
                    <div class="search-road clearfix mt20 c6">
                        <strong class="bold">线路查询：</strong>
                        <label>起点：</label>
                        <div class="placeholder-box fl">
                            <input type="text" class="input gray " id="stratAddress" value="请输入起点" onclick="if(value==defaultValue){value='';}$(this).removeClass('gray');" onblur="if(!value){value=defaultValue;$(this).addClass('gray');}"/>
                        </div>
                        <label>终点：</label>
                        <div class="placeholder-box fl">
                            <input type="text" class="input" style="width:230px;" value="河北石家庄市长安区润丰物流园" id="endAddress"  onblur="if(!value){value=defaultValue;}"/>
                        </div>
                        <a href="javascript:;" class="btn b-5" onclick="tranQuery();">查询公交线路</a> <a href="javascript:;" class="btn b-5" onclick="carQuery();">查询驾车线路</a>
                    </div>
                    <div class="road_detail" id="mapResult"></div>
                </div>

                <div class="tab-content" data-tab="tabp4" >
                    <!--企业形象图片展示 start-->
                    <div class="v_out">
                        <div class="prev"><a href="javascript:void(0)"></a></div>
                        <div class="v_show">
                            <div class="v_cont">
                                <ul>
                                    <li index="0"><img src="http://www.lvmae.com/file/upload/201704/20/17-52-08-59-39928.jpg.thumb.jpg" width="600" height="400" alt="" /></li>
                                    <li index="1"><img src="http://www.lvmae.com/file/upload/201704/20/17-54-11-91-39928.jpg.thumb.jpg" width="600" height="400" alt="" /></li>
                                    <li index="2"><img src="http://www.lvmae.com/file/upload/201704/20/17-55-34-47-39928.jpg.thumb.jpg" width="600" height="400" alt="" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="next"><a href="javascript:void(0)"></a> </div>
                        <ul class="circle">
                            <li class="circle-cur"><img src="http://www.lvmae.com/file/upload/201704/20/17-52-08-59-39928.jpg.thumb.jpg" width="120" height="80" alt="" /></li>
                            <li class=""><img src="http://www.lvmae.com/file/upload/201704/20/17-54-11-91-39928.jpg.thumb.jpg" width="120" height="80" alt="" /></li>
                            <li class=""><img src="http://www.lvmae.com/file/upload/201704/20/17-55-34-47-39928.jpg.thumb.jpg" width="120" height="80" alt="" /></li>

                        </ul>
                    </div>

                    <!--企业形象图片展示 end-->
                </div>
                <div class="tab-content" data-tab="tabp5" >
                    <div class="p20 carrier_produce_text" id="carrierProduceText">
                        <p id="carrierProduceTextHidden" class="line_break"><p>
                        暂无相关数据<p id="carrierProduceTextAll"></p>
                        <a onclick="switchingText(this)" id="update" class="update">展开全部</a>
                    </div>
                </div>

            </div>
        </div>
        <!--滑动门 end-->
        <!--成交订单 start-->
        <h3 class="transaction"><span>成交记录</span></h3>
        <div class="company-order" name="orderpostion">
            <dl class="orderList">
                <dt><span class="fhr">发货人</span><label>路线</label><span>货物</span><span>下单时间</span></dt>
                <dd><span class="fhr">&nbsp;1529350****</span>
                    <label><a href="http://www.lvmae.com/road/657-5998/13244389.html">&nbsp;石家庄——沈阳</a></label><span>&nbsp;胺基胍盐</span><span>&nbsp;2018-10-29</span></dd>
                <dd><span class="fhr">&nbsp;1593106****</span>
                    <label><a href="http://www.lvmae.com/road/657-1214/13244728.html">&nbsp;石家庄长安区——秦皇岛</a></label><span>&nbsp;豆蓉烧</span><span>&nbsp;2018-11-11</span></dd>
            </dl>
        </div>
        <!--成交订单 end-->

    </div>
    <!--左侧相关信息 start-->

    <!--右侧相关信息 start-->
    <div class="c-right">
        <!--广告位 start-->
        <div class="ads">
            <ul>
            </ul>
        </div>
        <!--广告位 end-->

        <!--优势路线 start-->
        <dl class="advantage-line">
            <dt>优势线路</dt>
            <dd>
                <h2><span class="txt-line">线</span><a href="http://www.lvmae.com/road/657-5841/13244387.html" title="石家庄——锡林郭勒盟">石家庄——锡林郭勒盟</a></h2>
                <div class="line-col1">
                    <p><span class="txt-start">发</span><em>00:00 05月22日</em></p>
                    <p><span class="txt-end">到</span><em>00:00 05月23日</em></p>
                </div>
                <div class="line-col3">
                    <a href="http://www.lvmae.com/road/657-5841/13244387.html">详情</a>
                </div>
            </dd>
            <dd>
                <h2><span class="txt-line">线</span><a href="http://www.lvmae.com/road/657-5957/13244388.html" title="石家庄——阿拉善盟">石家庄——阿拉善盟</a></h2>
                <div class="line-col1">
                    <p><span class="txt-start">发</span><em>00:00 05月22日</em></p>
                    <p><span class="txt-end">到</span><em>00:00 05月23日</em></p>
                </div>
                <div class="line-col3">
                    <a href="http://www.lvmae.com/road/657-5957/13244388.html">详情</a>
                </div>
            </dd>
            <dd>
                <h2><span class="txt-line">线</span><a href="http://www.lvmae.com/road/657-5998/13244389.html" title="石家庄——沈阳">石家庄——沈阳</a></h2>
                <div class="line-col1">
                    <p><span class="txt-start">发</span><em>00:00 05月22日</em></p>
                    <p><span class="txt-end">到</span><em>00:00 05月23日</em></p>
                </div>
                <div class="line-col3">
                    <a href="http://www.lvmae.com/road/657-5998/13244389.html">详情</a>
                </div>
            </dd>
            <dd>
                <h2><span class="txt-line">线</span><a href="http://www.lvmae.com/road/657-6238/13244390.html" title="石家庄——大连">石家庄——大连</a></h2>
                <div class="line-col1">
                    <p><span class="txt-start">发</span><em>00:00 05月22日</em></p>
                    <p><span class="txt-end">到</span><em>00:00 05月23日</em></p>
                </div>
                <div class="line-col3">
                    <a href="http://www.lvmae.com/road/657-6238/13244390.html">详情</a>
                </div>
            </dd>
            <dd>
                <h2><span class="txt-line">线</span><a href="http://www.lvmae.com/road/657-6413/13244391.html" title="石家庄——鞍山">石家庄——鞍山</a></h2>
                <div class="line-col1">
                    <p><span class="txt-start">发</span><em>00:00 05月22日</em></p>
                    <p><span class="txt-end">到</span><em>00:00 05月23日</em></p>
                </div>
                <div class="line-col3">
                    <a href="http://www.lvmae.com/road/657-6413/13244391.html">详情</a>
                </div>
            </dd>
            <dd>
                <h2><span class="txt-line">线</span><a href="http://www.lvmae.com/road/657-6538/13244392.html" title="石家庄——抚顺">石家庄——抚顺</a></h2>
                <div class="line-col1">
                    <p><span class="txt-start">发</span><em>00:00 05月22日</em></p>
                    <p><span class="txt-end">到</span><em>00:00 05月23日</em></p>
                </div>
                <div class="line-col3">
                    <a href="http://www.lvmae.com/road/657-6538/13244392.html">详情</a>
                </div>
            </dd>
            <dd>
                <h2><span class="txt-line">线</span><a href="http://www.lvmae.com/road/657-6630/13244393.html" title="石家庄——本溪">石家庄——本溪</a></h2>
                <div class="line-col1">
                    <p><span class="txt-start">发</span><em>00:00 05月22日</em></p>
                    <p><span class="txt-end">到</span><em>00:00 05月23日</em></p>
                </div>
                <div class="line-col3">
                    <a href="http://www.lvmae.com/road/657-6630/13244393.html">详情</a>
                </div>
            </dd>
            <dd>
                <h2><span class="txt-line">线</span><a href="http://www.lvmae.com/road/657-6695/13244394.html" title="石家庄——丹东">石家庄——丹东</a></h2>
                <div class="line-col1">
                    <p><span class="txt-start">发</span><em>00:00 05月22日</em></p>
                    <p><span class="txt-end">到</span><em>00:00 05月23日</em></p>
                </div>
                <div class="line-col3">
                    <a href="http://www.lvmae.com/road/657-6695/13244394.html">详情</a>
                </div>
            </dd>
            <dd>
                <h2><span class="txt-line">线</span><a href="http://www.lvmae.com/road/657-6797/13244395.html" title="石家庄——锦州">石家庄——锦州</a></h2>
                <div class="line-col1">
                    <p><span class="txt-start">发</span><em>00:00 05月22日</em></p>
                    <p><span class="txt-end">到</span><em>00:00 05月23日</em></p>
                </div>
                <div class="line-col3">
                    <a href="http://www.lvmae.com/road/657-6797/13244395.html">详情</a>
                </div>
            </dd>
            <dd>
                <h2><span class="txt-line">线</span><a href="http://www.lvmae.com/road/657-6925/13244396.html" title="石家庄——营口">石家庄——营口</a></h2>
                <div class="line-col1">
                    <p><span class="txt-start">发</span><em>00:00 05月22日</em></p>
                    <p><span class="txt-end">到</span><em>00:00 05月23日</em></p>
                </div>
                <div class="line-col3">
                    <a href="http://www.lvmae.com/road/657-6925/13244396.html">详情</a>
                </div>
            </dd>

        </dl>
        <!--优势路线 end-->
    </div>
    <!--右侧相关信息 end-->
</div>
<!--主要内容区域 end-->
<script>
    var star = '80.0';
    var addValue = "[]";
    var attachmentInfo_cityName="石家庄市";
    var attachmentInfo_address="河北石家庄市长安区润丰物流园";
    var cityName="";
    var companyId="39928";
    var carrierId="39928";
    var valid="39928";
</script>
<script type="text/javascript" src="http://www.lvmae.com/file/script/road/collect.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=F3ac30a2c80e6327048ad46f58ac1573"></script>
<script type="text/javascript" src="http://www.lvmae.com/file/script/road/logisticsCompanyDetail.js" charset="UTF-8"></script>
<script type="text/javascript" src="http://www.lvmae.com/file/script/road/hj.logistics.js" charset="UTF-8"></script>
<script type="text/javascript" src="http://www.lvmae.com/file/script/road/doBusinessPhone.js" charset="UTF-8"></script>
<script>$(function(){$('#companyPoint').click(function(){loadMap();})});</script>
<div class="footer">
    <div class="wrap">
        <p><a href="http://www.lvmae.com/news/lvmae/1339.html" target="_blank" rel="nofollow">绿蚂蚁介绍</a><span class="line">|</span><a href="http://www.lvmae.net/list-10-1.html" target="_blank" rel="nofollow">大事记</a><span class="line">|</span><a href="http://www.lvmae.net/list-14-1.html" target="_blank" rel="nofollow">公司动态</a><span class="line">|</span><a href="http://www.lvmae.net/list-13-1.html" target="_blank" rel="nofollow">媒体报告</a><span class="line">|</span><a href="http://www.lvmae.com/about/6.html" target="_blank" rel="nofollow">联系我们</a><span class="line">|</span><a href="http://www.lvmae.net/">绿蚂蚁官网</a></p>
        <p>Copyright © 绿蚂蚁干线<a href="http://www.lvmae.com">物流</a>B2B平台 All rights reserved. <a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备14032800号-1</a></p>
    </div>
</div>
<div class="yb_conct">
    <div class="yb_bar">
        <ul>
            <li class="yb_top">返回顶部</li>
            <li class="yb_phone">400-963-5600</li>
            <li class="yb_QQ">
                <a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" title="">在线咨询</a>
            </li>
            <li class="yb_ercode" style="height:53px;">微信二维码 <br>
                <img class="hd_qr" src="http://www.lvmae.com/skin/default/images/ewm_2.jpg" width="125" alt="绿蚂蚁公众号"> </li>
        </ul>
    </div>
</div>
<!--弹出框开始-->
<div id="user_session_login" style="display:none; position: initial; position:static\9;">
    <!--弹出框背景-->
    <div class="pop_bg" style="position:absolute\9;"></div>
    <!--弹出框内容-->
    <div id="popBoxId" class="pop_box pop_box_small" >
        <div id="titleDivId" class="pop_title"><a href="javascript:;" class="shut"></a>用户登录</div>
        <div id="pop_small_Table_table_id" class="pop_container" style="display:none;">
            <span style="margin-left:25px;">登录后，即可查看物流公司联系方式</span>
            <table  cellpadding="0" cellspacing="0" class="pop_small_Table pop_login" >
                <tr>
                    <th width="80px">用户名：</th><td><input onclick="clearDefaultText(this,'请输入用户名/手机号/邮箱')" myattr="inp_grey" id="username" name="username"  type="text" class="inp_grey" /></td>
                </tr>
                <tr>
                    <td></td><td style="color:red;" id="tip_username"></td>
                </tr>
                <tr>
                    <th valign="middle">密&nbsp;码：</th>
                    <td>
                        <input onfocus="importPass(this)" name="password" id="password" type="text" class="inp_grey" />
                        <input onblur="clearDefaultPass(this,'请输入密码')"  myattr="inp_grey" id="password1" name="passWord1" type="password" class="inp_grey" style="display: none;"  />
                    </td>
                </tr>
                <tr>
                    <td></td><td style="color:red;" id="tip_password"></td>
                </tr>
                <tr>
                    <th ></th><td><a href="http://www.lvmae.com/member/send.php" target="_blank" class="right">忘记密码?</a><input name="cookietime" value="1" type="checkbox" />自动登录</td>
                </tr>
                <tr>
                    <td></td><td><a href="javascript:;" onclick="login()" class="btn_login">登录</a></td>
                </tr>
                <tr>
                    <td></td><td><p class="regis_Add">还没有绿蚂蚁账户？<a href="javascript:;" onclick="registerClick()">一键注册</a></p></td>
                </tr>
                <tr>
                    <td></td><td><span class="red" style="display:none; font-size:14px;">用户名或密码错误</span></td>
                </tr>
            </table>
        </div>
        <div id="inquiryId" class="pop_container" style="display:none;">
            <p class="tab_contact_prompt">请写下您的电话和货物信息，承运商将与您联系！</p>
            <table cellpadding="0" cellspacing="0" class="table_contact">
                <tr>
                    <th valign="top" width="70px" >联系人：</th><td><input id="businessNameId" name="businessName"  type="text" class="inp_grey" style="width:225px" maxlength="50"/><div id="tip_businessName" class="red"></div></td>
                </tr>
                <tr>
                    <th valign="top" width="70px">电&nbsp;&nbsp;话：</th><td><input id="phoneId" name="businessPhone"  type="text" class="inp_grey" style="width:225px"/><div id="tip_businessPhone" class="red"></div></td>
                </tr>
                <tr>
                    <th valign="top">货物名：</th><td><input id="goodsId" maxlength="100" type="text" class="inp_grey" style="width:225px" /><div id="tip_goodsId" class="red"></div></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="javascript:;" onclick="btnConfirm(this)" class="btn_confirm">提交</a></td>
                </tr>
            </table>
            <div class="prompt">
                <p class="red">温馨提示：</p>
                <p>1、固定电话请输入"区号+您的电话号码"，如0755-8888888;</p>
                <p>2、手机用户直接输入"您的手机号码"，如13800000000;</p>
            </div>
        </div>

        <!-- 用户注册  -->
        <div class="pop_container" style="display:none;" id ="registerId">
            <span style="margin-left:15px;">输入手机，用验证码查看物流公司联系方式</span>
            <table cellpadding="0" cellspacing="0" class="pop_small_Table pop_login">
                <tr>
                    <th width="70px">手机号：</th>
                    <td><input type="text" class="inp_grey" onclick="clearDefaultText(this,'请输入手机号')" id="newPhone" myattr="inp_grey" name="userPhone" onkeyup="check_phone(this)" maxlength="11"/></td>
                </tr>
                <tr>
                    <td></td><td class="red" id="tip_phone"></td>
                </tr>
                <tr>
                    <th></th><td><input type="button" class="code_get_grey" id="sendBtnId" value="点击获取验证码" onclick="sendMessage(this)" /></td>
                </tr>
                <tr>
                    <th>验证码：</th><td><input type="text" id="verification" onclick="clearDefaultText(this,'请输入验证码')" myattr="inp_grey" name="verification" class="inp_grey" maxlength="6" onkeyup="check_verificationCode(this)" /></td>
                </tr>
                <tr>
                    <td></td><td class="red" id="tip_verificationCode"></td>
                </tr>
                <tr>
                    <td></td><td><a href="javascript:;" onclick="registerUser(this)"  class="btn_login">查看并注册</a></td>
                </tr>
                <tr>
                    <td></td><td><p class="regis_Add">已有绿蚂蚁账户？<a href="javascript:;" onclick="loginClick()">登录</a></p></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--弹出框结束-->
<span style="display:none;"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F113a0efbcb8d4e12dac632a3de270881' type='text/javascript'%3E%3C/script%3E"));
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254113276'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254113276' type='text/javascript'%3E%3C/script%3E"));</script><script src="http://s95.cnzz.com/z_stat.php?id=1256389723&web_id=1256389723" language="JavaScript"></script></span>
</body>
<script   th:inline="javascript">
    $(function () {
        getbiaoTi();
        init();
    });
    //标题
    function getbiaoTi() {
        $.ajax({
            url: 'getbiaoTi',
            success: function (data) {
                var data=JSON.parse(data);
                var str = '';
                for (var i = 0; i < data.length; i++) {
                    str += '<li><a href="' + data[i].uri + '" >' + data[i].text + '</a></li>';
                }
                $("#biaoTi").html(str);
            }
        })
    }
function init() {
    var  data= [[${cominfo}]];
    alert(data);
    $("#span1id").html(data.zhuchemoney);
    $("#span2id").html(data.old+"年");
    $("#span3id").html(data.empcount+"人");
    $("#span4id").html(data.ckarea+"平方米");
    $("#span5id").html(data.tdc);
    $("#span6id").html(data.carscount+"辆");
    $("#span7id").html(data.trucks+"辆");
    $("#span8id").html(data.gpshave+"辆");
    $("#span9id").html(data.insurance);
    $("#span10id").html(data.process);
    $("#span11id").html(data.follow);
}


</script>
</html>
