
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>C端后台首页</title>
    <link href="http://www.lvmae.com/skin/default/member/style/20150729template.css" type="text/css" rel="stylesheet" />
    <link href="http://www.lvmae.com/skin/default/member/style/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/member/image/style.css"/>
    <script type="text/javascript" src="http://www.lvmae.com/skin/default/member/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://www.lvmae.com/lang/zh-cn/lang.js"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/config.js"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/common.js"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/admin.js"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/member.js"></script>
    <script type="text/javascript">
        $(function () {

            $(".top-nav li.user").click(function(){
                $(".am-dropdown-content").toggle(100);
            });

            $(".nav-parent").click(function(){
                $(this).addClass("nav-active");
                $(this).siblings().removeClass("nav-active");
                $(".nav-active ul.children").toggle(300);
            });
            var i=$(".process").children("li").length;
            for(var j=0; j<i; j++){
                $(".process li").eq(j).addClass("process"+j);
            }

            $(".fourbtn li").eq(3).addClass("lastbtn");

            var curent_url = window.location.href;
            if( curent_url.indexOf('edit.php?action=edit') != -1 ){

                curent_url = curent_url.substr(0,curent_url.lastIndexOf('edit.php?action=edit'));
            }
            if( curent_url.indexOf('.php') !=-1 ){
                curent_url = curent_url.substr(0,curent_url.indexOf('.php'));
            }else{
                curent_url = curent_url.substr(0,curent_url.lastIndexOf('/'));
            }

            var url ='';
            $("div.nav ul.am-list li").each(function(){

                url = $(this).find('a').attr('href');
                if( url.indexOf('.php') != -1 ){
                    url = url.substr(0,url.indexOf('.php'));
                }

                $(this).removeClass('active');
                if( curent_url == url ){
                    $(this).addClass('active');
                }

            })

        });
    </script>

</head>
<body>
<!--B端头部 start-->
<div class="header">
    <div class="logo"><a href="/">绿蚂蚁</a></div>
    <ul class="top-main">
        <li><a href="/toShow?url=zhuye">绿蚂蚁首页</a></li>
        <li class="on"><a href="/toShow?url=gerenzhongxin">用户中心</a></li>
    </ul>
    <ul class="top-nav">
        <li class="messege">
            <a href="message.php">
                <span class="fa fa-envelope-o"></span>
                收件箱
                <span class="messegeNum">1</span>
            </a>
        </li>
        <!--<li class="chat">
        <a href="javascript:;">
            对话<span class="fa fa-comments-o"></span>
            </a>
        </li>-->
        <li class="user">
                    <span class="userPhoto">
                        <label>图片边框</label>
                        <img alt="会员图像" src="http://www.lvmae.com/api/avatar/show.php?username=18713116270&amp;size=small" />
                        </span>
            <span id="hellologin"></span>
            <script type="text/javascript">
                $(function () {
                    $.ajax({
                        url:"getsession",
                        type:"post",
                        success : function (data) {//
                            $("#hellologin").html("你好:"+data.loginnumber)

                        }
                    })
                })
            </script>
            <span class="fa fa-caret-down"></span>
            <dl class="am-dropdown-content">
                <dt><i class="fa fa-angle-up"></i></dt>
                <dd>
                    <a href="http://www.lvmae.com/member/avatar.php">
                        <span class="fa fa-user-secret"></span> 头像
                    </a>
                </dd>
                <dd>
                    <a href="edit.php?action=edit">
                        <span class="fa fa-cog"></span> 设置
                    </a>
                </dd>
            </dl>
        </li>
        <li class="logout">
            <a href="logout.php?forward=">
                <span class="fa fa-power-off"></span> 退出
            </a>
        </li>
    </ul>
    <div id="msgbox" style="display: none;"></div>
</div>
<!--B端头部 start-->
<!--main start-->
<div class="main">
    <!--左侧主导航 start-->
    <div class="navbg"></div>
    <div class="nav">
        <ul class="am-list">
            <li class="active"><a href="/toShow?url=gerenzhongxin"><i class="fa fa-home"></i>用户中心</a></li>
            <li><a href="/toShow?url=wodedingdan"><i class="fa fa-cart-arrow-down"></i>我的订单</a></li>
            <li><a href="/toShow?url=zhaobiaoguanli"><i class="fa fa-pencil-square-o"></i>招标管理</a></li>
            <li><a href="/toShow?url=wodexiaoxi"><i class="fa fa-file-text"></i>我的消息</a></li>
            <li><a href="/toShow?url=changyongxianlu"><i class="fa fa-send"></i>常用线路</a></li>
            <li><a href="/toShow?url=xiugaimima"><i class="fa fa-cog"></i>修改密码</a></li>
            <li><a href="/toShow?url=dizhiguanli"><i class="fa fa-map-marker"></i>地址管理</a></li>
        </ul>
    </div>
    <!--左侧主导航 end--><script type="text/javascript">c(0);</script>
    <!--右侧内容 start-->
    <div class="content">
        <h2 class="title"><i class="fa fa-user-plus"></i>地址管理 <span>您的当前位置：<label><a href="/member">首页</a>/地址管理 </label></span> </h2>
        <div class="pagecon">

            <div class="top-btn">
                <div class="abtn">
                    <a href="address.php?action=add" ><i class="fa fa-plus-square-o"></i>添加地址</a>
                    <a href="address.php?action=to"  class="nowpage"><i class="fa fa-truck"></i>收货地址</a>
                    <a href="address.php?action=from"  ><i class="fa fa-gift"></i>发货地址</a>
                </div>
            </div>
            <table class="tsh-tabel" cellpadding="0" cellspacing="0">
                <tr>
                    <th>地址</th>
                    <th>姓名</th>
                    <th>手机</th>
                    <th>电话</th>
                    <th>添加时间</th>
                    <th>默认地址</th>
                    <th>操作</th>
                </tr>
                <tr align="center"><td colspan="7" class="f_gray px11">暂无相关信息</td></tr></table>
            <!-- <div class="limit">总共可发 <span class="f_b f_red">10</span> 条&nbsp;&nbsp;&nbsp;当前已发 <span class="f_b">0</span> 条&nbsp;&nbsp;&nbsp;还可以发 <span class="f_b f_blue">10</span> 条</div>
             -->
            <div class="pages"></div>
        </div></div>
    <!--
    <script type="text/javascript">s('addr');c(0);</script> -->
</div>
<!--main end-->
</body>
</html>
<!--[if lte IE 8]>
<script src="http://www.lvmae.com/skin/default/member/js/DD_roundies_0.0.2a.js" type="text/javascript"></script>
<script type="text/javascript">
    /* IE only */
    DD_roundies.addRule('.content h2.title i,.fourbtn li i,.process li a i', '100%');

    DD_roundies.addRule('.userInfo a.company', '5px;');

    DD_roundies.addRule('.am-dropdown-content,.comName li label,.comName li em', '3px;');

</script>
<![endif]-->
<!--[if lte IE 7]>
<style type="text/css">
    .notice{ filter : progid:DXImageTransform.Microsoft.Gradient ( enabled= 1 , startColorStr= #80000000 , endColorStr= #80000000 );
        color: #fff; font-size: 24px; text-align: center; line-height:60px;
        height: 100%; position: fixed; top: 0; left: 0; width: 100%; z-index: 9999;
    }
    .notice strong , .notice a{ color:#ff0000; }
</style>
<div class="notice">你正在使用<strong>过时</strong>的浏览器，LVMAE暂不支持。 请 <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">升级浏览器</a>
    以获得更好的体验！<a href="index.php?action=close_num">关闭</a></div>
<![endif]-->
