
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>C端后台首页</title>
    <!-- 引入bootstrap的css -->
    <link  href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="/js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="/js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="/js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="/js/fileinput/css/fileinput.min.css" />

    <!-- 引入jquery -->
    <script type="text/javascript" src="/js/jquery-1.8.0.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="/js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="/js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/locales/zh.js"></script>

    <script type="text/javascript" src="/js/fileinput/themes/fa/theme.js"></script>
    <link href="http://www.lvmae.com/skin/default/member/style/20150729template.css" type="text/css" rel="stylesheet" />
    <link href="http://www.lvmae.com/skin/default/member/style/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/member/image/style.css"/>
    <script type="text/javascript" src="http://www.lvmae.com/skin/default/member/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://www.lvmae.com/lang/zh-cn/lang.js"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/config.js"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/common.js"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/admin.js"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/member.js"></script>
    <script type="text/javascript">
        $(function () {

            $(".top-nav li.user").click(function(){
                $(".am-dropdown-content").toggle(100);
            });

            $(".nav-parent").click(function(){
                $(this).addClass("nav-active");
                $(this).siblings().removeClass("nav-active");
                $(".nav-active ul.children").toggle(300);
            });
            var i=$(".process").children("li").length;
            for(var j=0; j<i; j++){
                $(".process li").eq(j).addClass("process"+j);
            }

            $(".fourbtn li").eq(3).addClass("lastbtn");

            var curent_url = window.location.href;
            if( curent_url.indexOf('edit.php?action=edit') != -1 ){

                curent_url = curent_url.substr(0,curent_url.lastIndexOf('edit.php?action=edit'));
            }
            if( curent_url.indexOf('.php') !=-1 ){
                curent_url = curent_url.substr(0,curent_url.indexOf('.php'));
            }else{
                curent_url = curent_url.substr(0,curent_url.lastIndexOf('/'));
            }

            var url ='';
            $("div.nav ul.am-list li").each(function(){

                url = $(this).find('a').attr('href');
                if( url.indexOf('.php') != -1 ){
                    url = url.substr(0,url.indexOf('.php'));
                }

                $(this).removeClass('active');
                if( curent_url == url ){
                    $(this).addClass('active');
                }

            })

        });
    </script>

</head>
<body>
<!--B端头部 start-->
<div class="header">
    <div class="logo"><a href="/">绿蚂蚁</a></div>
    <ul class="top-main">
        <li><a href="/toShow?url=zhuye">绿蚂蚁首页</a></li>
        <li class="on"><a href="/toShow?url=gerenzhongxin">用户中心</a></li>
    </ul>
    <ul class="top-nav">
        <li class="messege">
            <a href="message.php">
                <span class="fa fa-envelope-o"></span>
                收件箱
                <span class="messegeNum">0</span>
            </a>
        </li>
        <!--<li class="chat">
        <a href="javascript:;">
            对话<span class="fa fa-comments-o"></span>
            </a>
        </li>-->
        <li class="user">
                    <span class="userPhoto">
                        <label>图片边框</label>
                        <img alt="会员图像" src="http://www.lvmae.com/api/avatar/show.php?username=18713116270&amp;size=small" />
                        </span>
            <span class="userName">你好：<br />18713116270</span>
            <span class="fa fa-caret-down"></span>
            <dl class="am-dropdown-content">
                <dt><i class="fa fa-angle-up"></i></dt>
                <dd>
                    <a href="http://www.lvmae.com/member/avatar.php">
                        <span class="fa fa-user-secret"></span> 头像
                    </a>
                </dd>
                <dd>
                    <a href="edit.php?action=edit">
                        <span class="fa fa-cog"></span> 设置
                    </a>
                </dd>
            </dl>
        </li>
        <li class="logout">
            <a href="logout.php?forward=">
                <span class="fa fa-power-off"></span> 退出
            </a>
        </li>
    </ul>
    <div id="msgbox" style="display: none;"></div>
</div>
<!--B端头部 start-->
<!--main start-->
<div class="main">
    <!--左侧主导航 start-->
    <div class="navbg"></div>
    <div class="nav">
        <ul class="am-list">
            <li class="active"><a href="/toShow?url=gerenzhongxin"><i class="fa fa-home"></i>用户中心</a></li>
            <li><a href="/toShow?url=wodedingdan"><i class="fa fa-cart-arrow-down"></i>我的订单</a></li>
            <li><a href="/toShow?url=zhaobiaoguanli"><i class="fa fa-pencil-square-o"></i>招标管理</a></li>
            <li><a href="/toShow?url=wodexiaoxi"><i class="fa fa-file-text"></i>我的消息</a></li>
            <li><a href="/toShow?url=changyongxianlu"><i class="fa fa-send"></i>常用线路</a></li>
            <li><a href="/toShow?url=xiugaimima"><i class="fa fa-cog"></i>修改密码</a></li>
            <li><a href="/toShow?url=dizhiguanli"><i class="fa fa-map-marker"></i>地址管理</a></li>
        </ul>
    </div>
    <!--左侧主导航 end--><script type="text/javascript">c(0);</script>
    <!--右侧内容 start-->
    <style type="text/css">
        /* width:90px; height:30px;*/
        .select_style { overflow:hidden;
            border:1px solid #ccc;
            -moz-border-radius: 5px; /* Gecko browsers */
            -webkit-border-radius: 5px; /* Webkit browsers */
            border-radius:5px;
        }
        .select_style select { padding:5px; background:transparent;  font-size: 16px; border:none;
            -webkit-appearance: none; /*for Webkit browsers*/
        }
    </style>
    <div class="content">
        <h2 class="title"><i class="fa fa-user-plus"></i>地址管理 <span>您的当前位置：<label><a href="/member">首页</a>/地址管理 </label></span> </h2>
        <div class="pagecon">

            <div class="top-btn">
                <div class="abtn">
                    <a href="/toShow?url=tianjiadizhi" ><i class="fa fa-plus-square-o"></i>添加地址</a>
                    <a href="/toShow?url=zhaobiaoguanli"  class="nowpage"><i class="fa fa-truck"></i>收货地址</a>
                    <a href="address.php?action=from"  ><i class="fa fa-gift"></i>发货地址</a>
                </div>
            </div>
            <form method="post" id="dform">
                <input type="hidden" name="action" value="add"/>
                <div>
                    地址类型<font color="red">*</font>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                    <input type="radio" name="dizhileixing" value="1"/>发货地址&nbsp; &nbsp; &nbsp;
                    <input type="radio" name="dizhileixing" value="2"/>收货地址
                    <br/>
                    <br/>
                    <br/>
                    默认地址<font color="red">*</font>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                    <input type="radio" name="morendizhi" value="1"/>是&nbsp; &nbsp; &nbsp;
                    <input type="radio" name="morendizhi" value="2"/>否
                    <br/>
                    <br/>
                    <br/>
                    <div>详细地址<font color="red">*</font></div>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                        <div class="select_style" style="float: left;margin-left: 115px;margin-top: -26px">
                            <!--class="easyui-combobox"-->
                            <select name="id"  id="slid" onchange="shiid1()" style="width: 90px;"> </select>
                        </div>
                       <span id="shispan">

                       </span>
                       <span id="xianspan">

                       </span>
                       <span id="xingqingspan">

                       </span>
                     <br/>
                     <br/>
                     <br/>
                    <div style="float: left">真实姓名<font color="red">*</font></div>
                    <input type="text" name="zhenshixingming" class="form-control" style="width: 200px;float: left;margin-left: 50px;margin-top: -5px">
                    <br/>
                    <br/>
                    <br/>
                    <div style="float: left">手机号码<font color="red">*</font></div>
                    <input type="text" name="shoujihaoma" class="form-control" style="width: 200px;float: left;margin-left: 50px;margin-top: -5px">
                    <br/>
                    <br/>
                    <br/>
                    <div style="float: left">电话号码<font color="red">*</font></div>
                    <input type="text" name="dianhuahaoma" class="form-control" style="width: 200px;float: left;margin-left: 50px;margin-top: -5px">
                    <br/>
                    <br/>
                    <br/>
                    <div style="float: left">备注信息<font color="red">*</font></div>
                    <textarea rows="5px" cols="15px" name="beizhuxinxi" class="form-control" style="width: 400px;height: 100px;margin-left: 115px">

                    </textarea>

                    <div style="margin-left: 660px;margin-bottom: 50px">
                        <button type="button" class="btn btn-success" onclick="adddizhi()" style="width: 200px;height: 50px">立即提交</button>
                    </div>

                </div>
            </form>
            <script type="text/javascript" src="http://www.lvmae.com/file/script/clear.js"></script><!-- <script type="text/javascript">s('addr');m('add');</script> -->
            <script type="text/javascript">

                function adddizhi() {
                    $.ajax({
                        url:"/adddizhi",
                        type:"post",
                        data:$("#dform").serialize(),
                        dataType:"json",
                        success:function (data) {
                            alert("成功");
                            location.reload();
                        },error:function (data) {

                        }
                    })

                }

                function xianid1() {
                    var divspan = "<div class=\"select_style\" style=\"float: left;margin-top: -26px\">\n" +
                        "                           <!--class=\"easyui-combobox\"-->\n" +
                        "                           <select name=\"id\"  id=\"xianid\" onchange=\"xiangqing()\" style=\"width: 90px;\"> </select>\n" +
                        "                        </div>"
                    $("#xianspan").html(divspan)
                    var a = document.getElementById("shiid");
                    a = a.value
                    $.ajax({
                        url: "/getxian",
                        type: "post",
                        data: {typeid: a},
                        success: function (data) {
                            var hi = "";

                            for (var i = 0; i < data.length; i++) {

                                hi += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
                            }
                            $("#xianid").html(hi);

                        }
                    })
                }
                    function xiangqing() {
                        var xingqingspan="<input type=\"text\" id=\"xiangqingspan\" name=\"xiangxidizhi\" class=\"form-control\" style=\"width: 200px;float: left;margin-top: -26px;margin-left: 10px\">"
                        $("#xingqingspan").html(xingqingspan);
                        var a=document.getElementById("shiid");
                        var b=document.getElementById("xianid");
                        var index=a.selectedIndex;
                        a=a.options[index].text;
                        var index=b.selectedIndex;
                        b=b.options[index].text;
                        c=a;
                        c+=b;
                        $("#xiangqingspan").val(c);
                    }



                function shiid1() {

                    var divspan="<div class=\"select_style\" style=\"float: left;margin-top: -26px\">\n" +
                        "                           <!--class=\"easyui-combobox\"-->\n" +
                        "                           <select name=\"id\"  id=\"shiid\" onchange=\"xianid1()\" style=\"width: 90px;\"> </select>\n" +
                        "                        </div>"
                    $("#shispan").html(divspan)
                    var a=document.getElementById("slid");

                    a=a.value
                    $.ajax({
                        url:"/getshi",
                        type: "post",
                        data:{typeid:a},
                        success : function (data) {
                            var hi="";

                            for (var i = 0; i <data.length; i++) {

                                hi+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                            }

                            $("#shiid").html(hi);
                            $("#xianid").html("");

                        }
                    })

                }



                $(function () {

                    $.ajax({
                        url:"/getsheng",
                        type: "post",
                        success : function (data) {
                            var data= JSON.parse(data);
                            var hi="";
                            for (var i = 0; i <data.length; i++) {
                                hi+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                            }

                            $("#slid").html(hi);





                        }
                    })
                })
            </script>
        </div>
        <!--main end-->
</body>
</html>
