
<!DOCTYPE html>
<html>
<head>
    <title>上海浦东新区到高雄物流专线发货_恒丰物流上海有限公司（恒丰物流）_货运专线公司物流发货_绿蚂蚁</title>
    <meta name="keywords" content="上海浦东新区到高雄物流专线发货,恒丰物流上海有限公司,恒丰物流,货运专线公司,物流发货,上海浦东新区到高雄的物流公司,上海浦东新区到高雄的货运专线"/>
    <meta name="description" content="绿蚂蚁物流专线搜索平台提供上海浦东新区到高雄物流专线发货，货运专线发货，本物流专线由恒丰物流上海有限公司（恒丰物流）承运，恒丰物流上海有限公司是绿蚂蚁物流专线搜索平台的合作承运商，绿蚂蚁物流专线搜索平台货运时刻表让物流发货说走就走，诚通保为您的物流发货保驾护航。"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-stand|ie-comp" />
    <!-- 引入bootstrap的css -->
    <link  href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="/js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="/js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="/js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="/js/fileinput/css/fileinput.min.css" />

    <!-- 引入jquery -->
    <script type="text/javascript" src="/js/jquery-1.8.0.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="/js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="/js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/locales/zh.js"></script>

    <script type="text/javascript" src="/js/fileinput/themes/fa/theme.js"></script>

    <style type="text/css">
        /* width:90px; height:30px;   192.168.1.100*/
        .select_style { overflow:hidden;
            border:1px solid #ccc;
            -moz-border-radius: 5px; /* Gecko browsers */
            -webkit-border-radius: 5px; /* Webkit browsers */
            border-radius:5px;
        }
        .select_style select { padding:5px; background:transparent;  font-size: 16px; border:none;
            -webkit-appearance: none; /*for Webkit browsers*/
        }
    </style>
    <link rel="shortcut icon" type="image/x-icon" href="http://www.lvmae.com/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/common.css?version=201709018"></link>
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/zzsc.css"></link>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery-3.2.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/hj.configCity.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.chooseCity-1.2.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.cookie.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/functions.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.plugins.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/kslide.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/config.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/zzsc.min.js" charset="UTF-8"></script>
    <script type="text/javascript">
        var _HotLineScrollTop = "";
        var basePath = "http://www.lvmae.com/";
        var resourcePath = "http://img.lvmae.com/JAVA";
        var baseLebpPath = "http://kuaidi.lvmae.com";
        var userLogoPath = "http://img.lvmae.com/image/UserHeadPortrait/";
    </script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/hj.common.js" charset="UTF-8"></script>


</head>
<body>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<!-- Header Start -->
<div class="header">
    <div class="top">
        <div class="wrap">
            <div class="top-left">
                <span><a href="http://www.lvmae.com/member" target="_blank" rel="nofollow">18713116270</a></span>，您好！<a href="http://www.lvmae.com/member/logout.php" rel="nofollow">退出</a>
            </div>
            <div class="top-right">
                <ul class="item-list">
                    <li class="item">当前城市：</li>
                    <li class="item top-area dropdown">
                        <div class="top-area-content dropdown-box">
                            <span class="main-color" id="selectArea">深圳<a>[切换城市]</a></span>
                        </div>
                    </li>
                    <li class="item"><span class="icon icons-position"></span></li>
                    <li class="item tel-app dropdown">
                        <div class="tel-app-content dropdown-box">
                            &nbsp;&nbsp;<span class="icons-photo"></span>&nbsp;<span>手机APP</span>&nbsp;<span class="icons-arrow-down"></span>&nbsp;&nbsp;
                        </div>
                        <div class="menu">
                            <div class="ewm-box">
                                <p>扫描二维码<br>
                                    下载安卓客户端</p>
                                <p><img src="http://www.lvmae.com/skin/default/images/ewm_1.jpg" alt="" width="98" height="98"></p>
                            </div>
                        </div>
                    </li>
                    <li class="item dropdown top-wx">
                        <div class="dropdown-box">
                            &nbsp;&nbsp;<span class="icons-wx"></span>&nbsp;微信号&nbsp;<span class="icons-arrow-down"></span>&nbsp;&nbsp;
                        </div>
                        <div class="menu">
                            <div class="ewm-box">
                                <p>扫描二维码<br>
                                    关注绿蚂蚁公众号</p>
                                <p><img src="http://www.lvmae.com/skin/default/images/ewm_2.jpg" alt="" width="98" height="98"></p>
                            </div>
                        </div>
                    </li>
                    <li class="item"><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" class="icons-qq" onclick="" target="_blank" title="点击这里给我发消息">&nbsp;</a></li>
                    <li class="item"><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" target="_blank" >客户服务</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="wrap">
            <div class="logo icons-logo fl"><a href="http://www.lvmae.com/" title="上绿蚂蚁发货，说走就走">上绿蚂蚁发货，说走就走</a></div>
            <div class="icons-wuli fr" style="background-image:none;"><script type="text/javascript" src="http://www.lvmae.com/file/script/A47.js"></script></div>
        </div>
    </div>
    <div class="nav">
        <div class="wrap">
            <ul>
                <li><a  href="http://www.lvmae.com/">首页</a></li>
                <li><a href="http://www.lvmae.com/road/" >物流专线</a></li>
                <li><a href="http://www.lvmae.com/road/deliver.html">在线发货</a></li>
                <li><a href="http://www.lvmae.com/seaport/" >国际海运</a></li>
                <li><a href="http://www.lvmae.com/company/" >物流公司</a></li>
                <li><a href="http://www.lvmae.com/news/">物流新闻</a></li>
                <li><a href="http://www.lvmae.com/bid/" >物流招标</a></li>
                <li><a href="http://www.lvmae.com/goods/">在线购买</a></li>
            </ul>
        </div>
    </div>
    <div class="user-center">
        <div class="wrap">
            <a href="/zhongxin" class="user-box"><em></em><span>个人中心</span></a>
        </div>
    </div>
</div>
<div class="substation-box">
    <div class="substation">
        <div class="sub-title">分站</div>
        <a class="sub-link-01" href="http://bj.lvmae.com/" target="_blank">北京</a>
        <a class="sub-link-01" href="http://sh.lvmae.com/" target="_blank">上海</a>
        <a class="sub-link-01" href="http://tj.lvmae.com/" target="_blank">天津</a>
        <a class="sub-link-01" href="http://gd.lvmae.com/" target="_blank">广东</a>
        <a class="sub-link-01" href="http://hb.lvmae.com/" target="_blank">河北</a>
        <a class="sub-link-01" href="http://shanxi.lvmae.com/" target="_blank">山西</a>
        <a class="sub-link-01" href="http://ln.lvmae.com/" target="_blank">辽宁</a>
        <a class="sub-link-01" href="http://jl.lvmae.com/" target="_blank">吉林</a>
        <a class="sub-link-01" href="http://js.lvmae.com/" target="_blank">江苏</a>
        <a class="sub-link-01" href="http://zj.lvmae.com/" target="_blank">浙江</a>
        <a class="sub-link-01" href="http://ah.lvmae.com/" target="_blank">安徽</a>
        <a class="sub-link-01" href="http://fj.lvmae.com/" target="_blank">福建</a>
        <a class="sub-link-01" href="http://jx.lvmae.com/" target="_blank">江西</a>
        <a class="sub-link-01" href="http://sd.lvmae.com/" target="_blank">山东</a>
        <a class="sub-link-01" href="http://henan.lvmae.com/" target="_blank">河南</a>
        <a class="sub-link-01" href="http://hubei.lvmae.com/" target="_blank">湖北</a>
        <a class="sub-link-01" href="http://hunan.lvmae.com/" target="_blank">湖南</a>
        <a class="sub-link-01" href="http://gx.lvmae.com/" target="_blank">广西</a>
        <a class="sub-link-01" href="http://hainan.lvmae.com/" target="_blank">海南</a>
        <a class="sub-link-01" href="http://zq.lvmae.com/" target="_blank">重庆</a>
        <a class="sub-link-01" href="http://sc.lvmae.com/" target="_blank">四川</a>
        <a class="sub-link-01" href="http://gz.lvmae.com/" target="_blank">贵州</a>
        <a class="sub-link-01" href="http://yn.lvmae.com/" target="_blank">云南</a>
        <a class="sub-link-01" href="http://xc.lvmae.com/" target="_blank">西藏</a>
        <a class="sub-link-01" href="http://sx.lvmae.com/" target="_blank">陕西</a>
        <a class="sub-link-01" href="http://gs.lvmae.com/" target="_blank">甘肃</a>
        <a class="sub-link-01" href="http://qh.lvmae.com/" target="_blank">青海</a>
        <div class="sub-more">更多<div class="sub-more-body"><a class="sub-link-01" href="http://nx.lvmae.com/" target="_blank">宁夏</a>
            <a class="sub-link-01" href="http://hlj.lvmae.com/" target="_blank">黑龙江</a>
            <a class="sub-link-01" href="http://nmg.lvmae.com/" target="_blank">内蒙古</a>
            <a class="sub-link-01" href="http://xj.lvmae.com/" target="_blank">新疆</a>
            <a class="sub-link-01" href="http://hk.lvmae.com/" target="_blank">香港</a>
            <a class="sub-link-01" href="http://tw.lvmae.com/" target="_blank">台湾</a>
            <a class="sub-link-01" href="http://am.lvmae.com/" target="_blank">澳门</a>
        </div></div>
    </div>
</div>
<!-- Header End --><link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/order.css"/>
<div class="banner-1">
    <div class="wrap"><img src="http://www.lvmae.com/skin/default/images/banner_1.jpg" alt="" width="1198" height="82" title="查物流"></div>
</div>
<div class="wrap">
    <div class="bz-box step-1">
        <div class="line-gray"></div>
        <div class="line-orage"></div>
        <span class="icons-f0 icons-s1"></span>
        <span class="icons-f0 icons-s2"></span>
        <span class="icons-f0 icons-s3"></span>
        <span class="icons-f0 icons-s4"></span>
        <span class="icons-f1 icons-f-1 icons-s1"></span>
        <span class="icons-f1 icons-f-2 icons-s2"></span>
        <span class="icons-f1 icons-f-3 icons-s3"></span>
        <span class="icons-f1 icons-f-4 icons-s4"></span>
        <div class="text-1">填写订单</div>
        <div class="text-2">提交订单,等待处理</div>
        <div class="text-3">物流公司处理</div>
        <div class="text-4">发货完成</div>
    </div>
</div>

<div class="wrap">
    <div class="clearfix mt20">
        <div class="main-1 fl">
            <form method="post" id="addOrderForm" action="">
                <div class=" ">
                    <div class="title-2">
                        <strong>发货方</strong>
                        <span>填写完整、准确的信息，物流跟进更及时</span>
                    </div>
                    <div class="sec-1">
                        <div class="table-box">
                            <div style="width:800px;height: 1000px;margin-top:10px;margin-left:3%;">
                                <form id="shengid" method="post">
                                    <!--三级联动 begin-->
                                    <!--  省市区三级联动 begin -->
                                    <div style="margin-top:20px;float: left;">
                                        <div style="float:left;"><font size="4px">出发地:   省:</font></div>
                                        <div class="select_style" style="float: left;">
                                            <!--class="easyui-combobox"-->
                                            <select name="id"  id="slid" onchange="shiid1()" style="width: 90px;">-请选择-</select>
                                        </div>
                                        <div style="float: left;"><font size="4px">市：</font></div>
                                        <div class="select_style" style="float: left">
                                            <select name="id"  id="shiid" onchange="xianid1()" style="width: 90px;"></select>
                                        </div>
                                        <div style="float: left;"><font size="4px">县: </font></div>
                                        <div class="select_style" style="float: left;">
                                            <select name="id"  id="xianid" style="width: 90px;"></select>
                                        </div>
                                        <div style="clear:both"></div><br>

                                        <!-- 到达目的地 三级联动 begin-->
                                        <!--  省市区三级联动 begin -->
                                        <div style="float: left;">
                                            <div style="float: left;"><font size="4px">目的地:   省:</font></div>
                                            <div class="select_style" style="height: 30px;float: left;">
                                                <!--class="easyui-combobox"-->
                                                <select name="id"  id="sslid" onchange="shiid2()" style="width: 90px;"> </select>
                                            </div>
                                            <div style="float: left;"><font size="4px">市：</font></div>
                                            <div class="select_style" style="height: 30px;float: left;">
                                                <select name="id"  id="sshiid" onchange="xianid2()" style="width: 90px;"></select>
                                            </div>
                                            <div style="float: left;"><font size="4px">县: </font></div>
                                            <div class="select_style" style="height: 30px;float: left;">
                                                <select name="id"  id="sxianid" style="width: 90px;"></select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="orderid" method="post">
                                    <div style="float: left;">
        <pre>
            <input type="hidden" name="orderNo" id="suiid"><!--订单号-->
            <input type="hidden" name="hairProvinces" id="startarea1"><!--// 发货地址  省-->
            <input type="hidden" name="closedProvinces" id="endarea1"> <!--//收货地址  省-->
            <input type="hidden" name="city" id="startcity"> <!--//出发地的市-->
            <input type="hidden" name="city2" id="endcity2"> <!--//目的地的市-->
            <font size="3px">联系人: </font><input type="text"  name="shipping" placeholder="请输入联系人"><font color="red">必填</font><br>
            <font size="3px">手机:  </font> <input type="text" maxlength="11"  placeholder="请输入联系电话" name="sendPhone"  onkeyup="value=value.replace(/[^\d]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"/><font color="red">必填</font><br>
            <font size="3px">货物名称:</font><input type="text"  name="goodsName" placeholder="请输入货物名称"><font color="red">必填</font>        <a href="404.html">禁用品说明</a><br>
            <font size="3px">货物信息:</font><input  style="width:100px" type="text" onblur="jsjq()" maxlength="11" id="zl" placeholder="请输入重量" name="singleton"  onkeyup="value=value.replace(/[^\d]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"/>公斤 <input  style="width:100px" type="text" maxlength="11" onblur="jsjq()"  placeholder="请输入立方米" id="lf" name="volume"  onkeyup="value=value.replace(/[^\d]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"/>立方米 &nbsp;&nbsp;&nbsp;&nbsp;注:用于估算运费&nbsp;&nbsp;&nbsp;&nbsp<a href="404.html">什么是重货轻货？</a>
            <h6>.....................................................................................................................</h6>
            <font size="3px">上门提货:</font><input type="radio" value="2" checked class="yin" name="wetherOrderId">否 <input type="radio" value="1" class="xian" name="wetherOrderId">是(可能产生额外费用)
            <div class="shangid"style="margin-left:11%">上门提货具体地址:<input type="text" name="bringSite"></div>
            <font size="3px">送货上门:</font><input type="radio" value="2" checked class="cang" name="homeOrderId">否 <input type="radio" value="1" class="kan" name="homeOrderId">是(可能产生额外费用)
            <div class="songid"style="margin-left:11%">送货上门具体地址:<input type="text" name="presentSite"></div>
            <h6>.....................................................................................................................</h6>
            <font size="3px">支付方式:</font><input type="radio" value="1" checked name="statusId">发货人支付(现付) <input type="radio" value="2" name="statusId">收货人支付(到付)
            <font size="3px">其他说明:</font>
            <textarea  rows="3" placeholder="请输入其他说明" name="explaines" style="width: 400px;height: 100px"></textarea><br></pre>
                                        <font size="3px">预估总额:</font><font color="red"size="5px"><span id="yg">0.00</span>元</font><input type="hidden" id="hid" name="estimateMoney" >(未包括提货和送货价格)<br>
                                        <pre><font color="red">注：此价格与时效仅供参考，准确报价以物流承运商实际费用为准</font>         </pre><input  type="button" value="填写更多信息" class="btn btn-success"id="an" onclick="display('lb')"/><br><br>
                                        <div id="lb" style="display:none">
                                            <font size="4px">收货方</font><font color="red">为了您货物安全，填写完整、准确的信息</font><br>

                                                <font size="3px">收货方联系人: </font><input type="text"  name="delivery" placeholder="请输入联系人"><br>

                                                <font size="3px">收货方手机号码:  </font> <input type="text" maxlength="11"  placeholder="请输入联系电话" name="deliverPhone"  onkeyup="value=value.replace(/[^\d]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"/><br>
                                        </div>
                                        <button type="button"   onclick="commitorder()" class="btn btn-success btn-lg">提交订单</button><br>
                                        <div style="margin-left: 10px;"><font style="color: red">填写完整、准确的信息，物流跟进更及时</font></div>
                                    </div>
                                </form>
                            </div>

                        </div>

                        </div>
                    </div>




                    <p style="color:red;margin-top:10px;font-size: 14px;">*本平台仅向您提供物流服务信息，您在物流运输过程中出现的任何风险、损失，均与平台无关。</p>
                </div>
                <!-- 隐藏域 -->
                <input name="carrierId" type="hidden" value="38485">
                <input name="itemid" id="itemid" type="hidden" value="12195820">
                <input name="carrierName" type="hidden" value="恒丰物流上海有限公司">
                <input name="carrierMobile" type="hidden" value="18221125696">
                <input name="lineName" type="hidden" value="上海浦东新区到高雄物流专线">
                <input name="businessPhone" type="hidden" value="18221125696">
                <!-- 发订单后，给承运商发短信的电话号码 -->
                <!--
<input name="heavyPrice" type="hidden" value="2.90">
<input name="lightPrice" type="hidden" value="400.00">
-->
                <input name="amount" type="hidden" value="20.00">
                <input name="fee" type="hidden" value="1">
            </form>
        </div>
        <div class="side-1 fr">
            <div class="icons-levis2"><a href="http://www.lvmae.com/company/38485/index.html" target="_blank"><img width="154" height="80" src="http://www.lvmae.com/file/upload/201801/03/17-44-59-88-38485.jpg"></a></div>
            <div class="levis-text"><a href="http://www.lvmae.com/company/38485/index.html" target="_blank">恒丰物流上海有限公司</a></div>
            <div class="clearfix side-item">
                <a href="http://www.lvmae.com/road/10747-47018/12195820.html" target="_blank">
                    <span>上海浦东新区</span>
                    <span class="icons-arrow-left"></span>
                    <span>高雄</span></a>
            </div>
            <table class="tab-2">
                <tr>
                    <td class="tab-n">运输方式：</td>
                    <td class="tab-c">零担运输</td>
                </tr>
                <tr>
                    <td class="tab-n">运输时效：</td>
                    <td class="tab-c">24-72小时</td>
                </tr>
                <tr>
                    <td class="tab-n">重货价格：</td>
                    <td class="tab-c">2.90元/公斤</td>
                </tr>
                <tr>
                    <td class="tab-n">轻货价格：</td>
                    <td class="tab-c">400.00元/立方米</td>
                </tr>
                <tr>
                    <td class="tab-n">公司资质：</td>
                    <td class="tab-c">
                        <!--<span class="icons-i-tuijian" title=""></span>
                        <span class="icons-i-zheng" title=""></span>
                        <span class="icons-i-a" title=""></span>
                        -->
                        <i class="icon-zheng">证</i><i class="icon-abc">AA</i>
                    </td>
                </tr>
                <tr>
                    <td class="tab-n">咨询电话：</td>
                    <td class="tab-c"><span style="font-size:18px;letter-spacing:1px;">18221125696</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="areas-box" id="faHuoSelect">
    <ul class="tab-title areas-title" id="areaTitle1">
        <li class="tab-item" data-tab="t1">热门 <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t2">ABCDE <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t3">FGHJ <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t4">KLMNP <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t5">QRSTW <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t6">XYZ <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t7">港澳台 <span class="arrow"></span></li>
    </ul>
    <div id="areaContent1" class="area-content">
        <div class="tab-content" data-tab="t1">
            <span class="area-tag current">深圳市</span><span class="area-tag">广州市</span><span class="area-tag">武汉市</span><span class="area-tag">北京市</span><span class="area-tag">东莞市</span><span class="area-tag">上海市</span><span class="area-tag">天津市</span><span class="area-tag">青岛市</span><span class="area-tag">深圳市</span><span class="area-tag">广州市</span><span class="area-tag">武汉市</span><span class="area-tag">北京市</span><span class="area-tag">东莞市</span><span class="area-tag">上海市</span><span class="area-tag">天津市</span><span class="area-tag">青岛市</span>
        </div>
        <div class="tab-content" data-tab="t2">暂无内容</div>
        <div class="tab-content" data-tab="t3">暂无内容</div>
        <div class="tab-content" data-tab="t4">暂无内容</div>
        <div class="tab-content" data-tab="t5">暂无内容</div>
        <div class="tab-content" data-tab="t6">暂无内容</div>
        <div class="tab-content" data-tab="t7">暂无内容</div>
    </div>
</div>
<div class="areas-box" id="shouHuoSelect">
    <ul class="tab-title areas-title" id="areaTitle2">
        <li class="tab-item" data-tab="t1">热门 <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t2">ABCDE <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t3">FGHJ <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t4">KLMNP <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t5">QRSTW <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t6">XYZ <span class="arrow"></span></li>
        <li class="tab-item" data-tab="t7">港澳台 <span class="arrow"></span></li>
    </ul>
    <div id="areaContent2" class="area-content">
        <div class="tab-content" data-tab="t1">
            <span class="area-tag current">深圳市</span><span class="area-tag">广州市</span><span class="area-tag">武汉市</span><span class="area-tag">北京市</span><span class="area-tag">东莞市</span><span class="area-tag">上海市</span><span class="area-tag">天津市</span><span class="area-tag">青岛市</span><span class="area-tag">深圳市</span><span class="area-tag">广州市</span><span class="area-tag">武汉市</span><span class="area-tag">北京市</span><span class="area-tag">东莞市</span><span class="area-tag">上海市</span><span class="area-tag">天津市</span><span class="area-tag">青岛市</span>
        </div>
        <div class="tab-content" data-tab="t2">暂无内容</div>
        <div class="tab-content" data-tab="t3">暂无内容</div>
        <div class="tab-content" data-tab="t4">暂无内容</div>
        <div class="tab-content" data-tab="t5">暂无内容</div>
        <div class="tab-content" data-tab="t6">暂无内容</div>
        <div class="tab-content" data-tab="t7">暂无内容</div>
    </div>
</div>
<div class="more-city" id="moreCity">
    <ul class="diqu">
        <li>广州</li>
        <li>北京</li>
        <li>上海</li>
        <li>乌鲁木齐</li>
    </ul>
</div>
<script type="text/javascript" src="http://www.lvmae.com/file/script/index/main.js" charset="UTF-8"></script><!--头部js-->
<script src="http://www.lvmae.com/file/script/order.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    o.userid = "38485";
    o.wPrice = "2.90";
    o.vPrice = "400.00";
    o.price = "20.00";
    var fee = 1;
    $(document).ready(function(){
//$('html, body').animate({scrollTop:0}, 100);
        $(".moreinfo").click(function(){
            if( $("#tiptext").html()== '填写更多信息' ){
                $('.feibixu').show();
                $('html, body, .content').animate({scrollTop: $(document).height()-300}, 1000);
                $("#tiptext").html('隐藏更多信息');
            }else{
                $('.feibixu').hide();
                $('html, body').animate({scrollTop:250}, 500);
                $("#tiptext").html('填写更多信息');
            }
        })
        $("#submitform").click(function(){
            if( !o.submit() ){
                return false;
            }
            return true;
        })
        $('input[name="smth"]').click(function(){
            if( $(this).val() == '1' ){
                $('#area1').show();
            }else{
                $('#area1').hide();
            }
        })
        $('input[name="shsm"]').click(function(){
            if( $(this).val() == '1' ){
                $('#area2').show();
            }else{
                $('#area2').hide();
            }
        })
        $('#submitform').attr("disabled", false);
    })
</script>
<div id="hj-mask"></div><div id="hj-mask-loading"></div>
<div class="footer">
    <div class="wrap">
        <p><a href="http://www.lvmae.com/news/lvmae/1339.html" target="_blank" rel="nofollow">绿蚂蚁介绍</a><span class="line">|</span><a href="http://www.lvmae.net/list-10-1.html" target="_blank" rel="nofollow">大事记</a><span class="line">|</span><a href="http://www.lvmae.net/list-14-1.html" target="_blank" rel="nofollow">公司动态</a><span class="line">|</span><a href="http://www.lvmae.net/list-13-1.html" target="_blank" rel="nofollow">媒体报告</a><span class="line">|</span><a href="http://www.lvmae.com/about/6.html" target="_blank" rel="nofollow">联系我们</a><span class="line">|</span><a href="http://www.lvmae.net/">绿蚂蚁官网</a></p>
        <p>Copyright © 绿蚂蚁干线<a href="http://www.lvmae.com">物流</a>B2B平台 All rights reserved. <a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备14032800号-1</a></p>
    </div>
</div>
<div class="yb_conct">
    <div class="yb_bar">
        <ul>
            <li class="yb_top">返回顶部</li>
            <li class="yb_phone">400-963-5600</li>
            <li class="yb_QQ">
                <a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" title="">在线咨询</a>
            </li>
            <li class="yb_ercode" style="height:53px;">微信二维码 <br>
                <img class="hd_qr" src="http://www.lvmae.com/skin/default/images/ewm_2.jpg" width="125" alt="绿蚂蚁公众号"> </li>
        </ul>
    </div>
</div>
<span style="display:none;"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F113a0efbcb8d4e12dac632a3de270881' type='text/javascript'%3E%3C/script%3E"));
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254113276'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254113276' type='text/javascript'%3E%3C/script%3E"));</script><script src="http://s95.cnzz.com/z_stat.php?id=1256389723&web_id=1256389723" language="JavaScript"></script></span>
</body>
<script>

    //提交订单
    function commitorder(){

        var a=document.getElementById("slid");
        var b=document.getElementById("sslid");
        var index=a.selectedIndex;
        a=a.options[index].value;// 发货地址  省
        var index=b.selectedIndex;
        b=b.options[index].value; //收货地址  省
        $("#startarea1").val(a);
        $("#endarea1").val(b);



        var c=document.getElementById("shiid");  //出发地的市
        var d=document.getElementById("sshiid");//目的地的市
        var index=c.selectedIndex;
        c=c.options[index].value;  //出发地的市
        var index=d.selectedIndex;
        d=d.options[index].value;  //目的地的市
        $("#startcity").val(c);
        $("#endcity2").val(d);
        $("#hid").val($("#yg").text());//获取预估余额
        $.ajax({
            url:"/commitdanss",
            type:"post",
            data:$("#orderid").serialize(),
            dataType:"json",
            success:function (data) {

            },error:function (data) {
                alert("成功");
            }
        })
    }



    //出发地 获取县的值
    function xianid1() {
        var a=document.getElementById("shiid");
        a=a.value
        $.ajax({
            url:"/getxian",
            type: "post",
            data:{typeid:a},
            success : function (data) {
                var hi="<option value='0'>请选择</option>";

                for (var i = 0; i <data.length; i++) {

                    hi+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#xianid").html(hi);

            }
        })

    }
    //出发地 获取市的值
    function shiid1() {
        var a=document.getElementById("slid");
        a=a.value
        $.ajax({
            url:"/getshi",
            type: "post",
            data:{typeid:a},
            success : function (data) {
                var hi="";

                for (var i = 0; i <data.length; i++) {

                    hi+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#shiid").html(hi);
                $("#xianid").html("");
            }
        })

    }
    //获取省的值
    $(function () {
        $.ajax({
            url:"/getsheng",
            type: "post",
            success : function (data) {
                var hi="";

                for (var i = 0; i <data.length; i++) {

                    hi+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#slid").html(hi);
                $("#sslid").html(hi);
            }
        })
    })




    //目的地 三级联动

    function xianid2() {
        var a=document.getElementById("sshiid");
        a=a.value
        $.ajax({
            url:"/getxian",
            type: "post",
            data:{typeid:a},
            success : function (data) {
                var hi="";

                for (var i = 0; i <data.length; i++) {

                    hi+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#sxianid").html(hi);

            }
        })

    }

    function shiid2() {
        var a=document.getElementById("sslid");
        a=a.value
        $.ajax({
            url:"/getshi",
            type: "post",
            data:{typeid:a},
            success : function (data) {
                var hi="";
                for (var i = 0; i <data.length; i++) {

                    hi+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#sshiid").html(hi);
                $("#sxianid").html("");
            }
        })

    }

    /* 预估金额*/
    function jsjq(){
        var zl=$("#zl").val();//重量
        var lf=$("#lf").val();//立方米
        var yg=$("#yg");//预估
        var zljq=zl*0.5;
        var lfjq=lf*110;
        if(lfjq>zljq){
            yg.text(lfjq);
        }else if(lfjq<zljq){
            yg.text(zljq);
        }else{
            yg.text(zljq);
        }
    }
    //送货上门
    $(document).ready(function(){
        $(".songid").hide();
        $(".kan").click(function(){
            $(".songid").show();
        });
        $(".cang").click(function(){
            $(".songid").hide();
        });
    });
    /* 是否上门提货*/
    $(document).ready(function(){
        $(".shangid").hide();
        $(".xian").click(function(){
            $(".shangid").show();
        });
        $(".yin").click(function(){
            $(".shangid").hide();
        });
    });
    //填写更多信息  收货人
    function display(id){
        var value="";
        var traget=document.getElementById(id);
        var xian=document.getElementById(an);
        if(traget.style.display=="none"){
            traget.style.display="";
        }else{
            traget.style.display="none";
        }
    }


    /*    function commitordertwo(){
        var a=document.getElementById("slid");
        var b=document.getElementById("sslid");
        var index=a.selectedIndex;
        a=a.options[index].text;// 出发地的 值
        var index=b.selectedIndex;
        b=b.options[index].text; //目的地的值
        alert("shengid");
        $.ajax({
            url:"/commitdan?a="+a+"&b="+b +"",
            type:"post",
            dataType:"json",
            success:function (data) {
                alert("成功");
            },error:function (data) {
            }
        })
    }*/
</script>
</html>
