<!DOCTYPE html>
<html>
<head>
    <title>深圳物流专线_深圳物流公司_深圳货运公司_深圳运输公司_绿蚂蚁</title>
    <meta name="keywords" content="深圳物流专线,深圳物流公司,深圳货运公司,深圳运输公司"/>
    <meta name="description" content="绿蚂蚁物流搜索平台提供深圳物流专线，深圳物流公司，深圳货运公司，深圳运输公司，深圳专线，深圳专线物流，深圳专线公司，深圳物流，深圳物流发货等，绿蚂蚁物流搜索平台为您的物流发货保驾护航"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-stand|ie-comp" />
    <link rel="shortcut icon" type="image/x-icon" href="http://www.lvmae.com/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/common.css?version=201709018"></link>
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/zzsc.css"></link>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery-3.2.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/hj.configCity.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.chooseCity-1.2.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.cookie.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/functions.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.plugins.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/kslide.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/config.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/zzsc.min.js" charset="UTF-8"></script>
    <script type="text/javascript">
        var _HotLineScrollTop = "";
        var basePath = "http://www.lvmae.com/";
        var resourcePath = "http://img.lvmae.com/JAVA";
        var baseLebpPath = "http://kuaidi.lvmae.com";
        var userLogoPath = "http://img.lvmae.com/image/UserHeadPortrait/";
    </script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/hj.common.js" charset="UTF-8"></script>
</head>
<body>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<!-- Header Start -->
<div class="header">
    <div class="top">
        <div class="wrap">
            <div class="top-left">
                您好，欢迎使用绿蚂蚁干线物流B2B平台！<a href="http://www.lvmae.com/member/login.php" rel="nofollow">登录</a><a href="http://www.lvmae.com/member/register.php" rel="nofollow">注册</a>
            </div>
            <div class="top-right">
                <ul class="item-list">
                    <li class="item">当前城市：</li>
                    <li class="item top-area dropdown">
                        <div class="top-area-content dropdown-box">
                            <span class="main-color" id="selectArea"></a></span>
                        </div>
                    </li>
                    <li class="item"><span class="icon icons-position"></span></li>
                    <li class="item tel-app dropdown">
                        <div class="tel-app-content dropdown-box">
                            &nbsp;&nbsp;<span class="icons-photo"></span>&nbsp;<span>手机APP</span>&nbsp;<span class="icons-arrow-down"></span>&nbsp;&nbsp;
                        </div>
                        <div class="menu">
                            <div class="ewm-box">
                                <p>扫描二维码<br>
                                    下载安卓客户端</p>
                                <p><img src="http://www.lvmae.com/skin/default/images/ewm_1.jpg" alt="" width="98" height="98"></p>
                            </div>
                        </div>
                    </li>
                    <li class="item dropdown top-wx">
                        <div class="dropdown-box">
                            &nbsp;&nbsp;<span class="icons-wx"></span>&nbsp;微信号&nbsp;<span class="icons-arrow-down"></span>&nbsp;&nbsp;
                        </div>
                        <div class="menu">
                            <div class="ewm-box">
                                <p>扫描二维码<br>
                                    关注绿蚂蚁公众号</p>
                                <p><img src="http://cyf123.oss-cn-beijing.aliyuncs.com/yard/1558083074467.jpg" alt="" width="98" height="98"></p>
                            </div>
                        </div>
                    </li>
                    <li class="item"><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" class="icons-qq" onclick="" target="_blank" title="点击这里给我发消息">&nbsp;</a></li>
                    <li class="item"><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" target="_blank" >客户服务</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="wrap">
            <div class="logo icons-logo fl"><a href="http://www.lvmae.com/" title="上绿蚂蚁发货，说走就走">上绿蚂蚁发货，说走就走</a></div>
            <div class="icons-wuli fr" style="background-image:none;"><script type="text/javascript" src="http://www.lvmae.com/file/script/A47.js"></script></div>
        </div>
    </div>
    <div class="nav">
        <div class="wrap">
            <ul>
                <span id="biaoTi"></span>
            </ul>
        </div>
    </div>
    <div class="user-center">
        <div class="wrap">
            <a href="/zhongxin" class="user-box"><em></em><span>个人中心</span></a>
        </div>
    </div>
</div>
<div class="substation-box">
    <div class="substation">
        <div class="sub-title">分站</div>
        <a class="sub-link-01" href="http://bj.lvmae.com/" target="_blank">北京</a>
        <a class="sub-link-01" href="http://sh.lvmae.com/" target="_blank">上海</a>
        <a class="sub-link-01" href="http://tj.lvmae.com/" target="_blank">天津</a>
        <a class="sub-link-01" href="http://gd.lvmae.com/" target="_blank">广东</a>
        <a class="sub-link-01" href="http://hb.lvmae.com/" target="_blank">河北</a>
        <a class="sub-link-01" href="http://shanxi.lvmae.com/" target="_blank">山西</a>
        <a class="sub-link-01" href="http://ln.lvmae.com/" target="_blank">辽宁</a>
        <a class="sub-link-01" href="http://jl.lvmae.com/" target="_blank">吉林</a>
        <a class="sub-link-01" href="http://js.lvmae.com/" target="_blank">江苏</a>
        <a class="sub-link-01" href="http://zj.lvmae.com/" target="_blank">浙江</a>
        <a class="sub-link-01" href="http://ah.lvmae.com/" target="_blank">安徽</a>
        <a class="sub-link-01" href="http://fj.lvmae.com/" target="_blank">福建</a>
        <a class="sub-link-01" href="http://jx.lvmae.com/" target="_blank">江西</a>
        <a class="sub-link-01" href="http://sd.lvmae.com/" target="_blank">山东</a>
        <a class="sub-link-01" href="http://henan.lvmae.com/" target="_blank">河南</a>
        <a class="sub-link-01" href="http://hubei.lvmae.com/" target="_blank">湖北</a>
        <a class="sub-link-01" href="http://hunan.lvmae.com/" target="_blank">湖南</a>
        <a class="sub-link-01" href="http://gx.lvmae.com/" target="_blank">广西</a>
        <a class="sub-link-01" href="http://hainan.lvmae.com/" target="_blank">海南</a>
        <a class="sub-link-01" href="http://zq.lvmae.com/" target="_blank">重庆</a>
        <a class="sub-link-01" href="http://sc.lvmae.com/" target="_blank">四川</a>
        <a class="sub-link-01" href="http://gz.lvmae.com/" target="_blank">贵州</a>
        <a class="sub-link-01" href="http://yn.lvmae.com/" target="_blank">云南</a>
        <a class="sub-link-01" href="http://xc.lvmae.com/" target="_blank">西藏</a>
        <a class="sub-link-01" href="http://sx.lvmae.com/" target="_blank">陕西</a>
        <a class="sub-link-01" href="http://gs.lvmae.com/" target="_blank">甘肃</a>
        <a class="sub-link-01" href="http://qh.lvmae.com/" target="_blank">青海</a>
        <div class="sub-more">更多<div class="sub-more-body"><a class="sub-link-01" href="http://nx.lvmae.com/" target="_blank">宁夏</a>
            <a class="sub-link-01" href="http://hlj.lvmae.com/" target="_blank">黑龙江</a>
            <a class="sub-link-01" href="http://nmg.lvmae.com/" target="_blank">内蒙古</a>
            <a class="sub-link-01" href="http://xj.lvmae.com/" target="_blank">新疆</a>
            <a class="sub-link-01" href="http://hk.lvmae.com/" target="_blank">香港</a>
            <a class="sub-link-01" href="http://tw.lvmae.com/" target="_blank">台湾</a>
            <a class="sub-link-01" href="http://am.lvmae.com/" target="_blank">澳门</a>
        </div></div>
    </div>
</div>
<!-- Header End --><link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/index.v1.css"></link>
<link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/line.css"></link>
<script type="text/javascript" src="http://www.lvmae.com/file/script/new/search.js" charset="UTF-8"></script>
<script type="text/javascript" src="http://www.lvmae.com/file/script/index/main.js" charset="UTF-8"></script>
<style type="text/css">
    .inp_grey{color:#000;}
    .brush-option strong, .brush-option select, .brush-option label{float:none;}
    .item-name { background-color: #FFF; border: 1px solid #C2C2C2; color: #000; display: inline-block; height: 25px; line-height: 25px; margin-right: 10px; padding: 0px 10px; position: relative; text-align: center; z-index: 2; }
    .item-lab{float:left;width:150px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
    .list_none_text b {color: #ff7b19;font-weight: normal;margin: 0 5px;}
</style>
<div class="search-wrapper zoom clearfix">
    <div class="wrap clearfix">
        <form action="" method="post" name="logLineForm" id="logLineForm">
            <div class="search-area">
                <input type="hidden" value="" id="safe" name="safe"/>
                <input type="hidden" name="way" id="way" value="" />
                <input type="hidden" name="order" id="order" value="" />
                <ul>
                    <li class="fl item">
                        <div class="placeholder-box placeholder-1" placeholder>
                            <div class="placeholder" placeholder></div>
                            <input type="text" name="place1" class="fahuo  input placeholder" id="leave_city" placeholder  autocomplete="off">
                            <input id="jsonLeaveCityParams" type="hidden" value='' name="jsonLeaveCityParams" />
                            <span class="icons-position-1"></span>
                        </div>
                    </li>
                    <li class="fl item item-change">
                        <span class="icons-change" onclick="reverseAddress()"></span>
                    </li>
                    <li class="fl item">
                        <div class="placeholder-box  placeholder-1" placeholder>
                            <div class="placeholder" placeholder></div>
                            <input type="text" name="place1" class="shouhuo  input placeholder" id="arrive_city" placeholder  autocomplete="off">
                            <input id="jsonArriveCityParams" type="hidden"value=''name="jsonArriveCityParams" />
                            <span class="icons-position-1"></span>
                        </div>
                    </li>
                    <li class="fl item m1">
                        <div class="placeholder-box placeholder-2" placeholder>
                            <div class="placeholder" placeholder></div>
                            <input type="text" class="  input placeholder" name="weight_num" onkeyup="filterNum(this)" value="" id="weight_num" placeholder="请输入重量" autocomplete="off">
                        </div>
                    </li>
                    <li class="fl item">
                        <div class="placeholder-box placeholder-3">
                            公斤
                        </div>
                    </li>
                    <li class="fl item">
                        <div class="placeholder-box placeholder-2" placeholder>
                            <div class="placeholder" placeholder></div>
                            <input type="text" class="  input placeholder" id="volume_num" name="volume_num" maxlength="9" value="" onkeyup="filterNum(this)" placeholder="请输入体积"  autocomplete="off">
                        </div>
                    </li>
                    <li class="fl item">
                        <div class="placeholder-box placeholder-4">
                            立方米
                        </div>
                    </li>
                    <li class="fl item m2"><input type="button" class="btn b-6" onclick="subFrom('find','');" value="即刻查询" /></li>
                    <li class="fl item"></li>
                    <li class="fl item"></li>
                </ul>
                <div class="search-rs "></div>
            </div>
        </form>
        <div class="bread">
            <strong>当前位置：</strong>
            <a href="http://www.lvmae.com/">首页</a>
            <span>></span>
            <a href="http://www.lvmae.com/road/">物流专线</a>
        </div>
        <div class="block-wrapper dedicated-line">
            <div class="zx-left" >

            <div class="hot-line" id="leftDivId">

            </div>

            <div class="hl-line" >
               <h2>所有专线</h2>
                <ul class="line-list" id="hlDiv">

                </ul>
            </div>


            </div>

            <div class="zx-right">
                <div class="icons-bao"></div>
                <h2 class="title-5">
                    绿蚂蚁最佳人气物流专线
                </h2>
                <ul class="news-list ">
                    <li class="item"><a href="http://www.lvmae.com/road/28373-23842/index.html">深圳罗湖区到武汉物流专线</a></li>
                    <li class="item"><a href="http://www.lvmae.com/road/28373-41665/index.html">深圳罗湖区到西安物流专线</a></li>
                    <li class="item"><a href="http://www.lvmae.com/road/28373-2/index.html">深圳龙岗区到北京物流专线</a></li>
                    <li class="item"><a href="http://www.lvmae.com/road/10747-46971/index.html">上海到图木舒克图木舒克市物流专线</a></li>
                    <li class="item"><a href="http://www.lvmae.com/road/10747-46983/index.html">上海到五家渠五家渠市物流专线</a></li>

                </ul>
                <h2 class="title-5">
                    绿蚂蚁最近更新物流专线
                </h2>
                <ul class="news-list ">
                    <li class="item"><a href="http://www.lvmae.com/road/14198-1214/index.html">合肥瑶海区到秦皇岛物流专线</a></li>
                    <li class="item"><a href="http://www.lvmae.com/road/14198-657/index.html">合肥瑶海区到石家庄物流专线</a></li>
                    <li class="item"><a href="http://www.lvmae.com/road/14198-958/index.html">合肥瑶海区到唐山物流专线</a></li>
                    <li class="item"><a href="http://www.lvmae.com/road/2-4642/index.html">北京大兴区到呼和浩特物流专线</a></li>
                    <li class="item"><a href="http://www.lvmae.com/road/2-3139/index.html">北京大兴区到太原物流专线</a></li>

                </ul>
                <div class="img-1 mt20">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var line_jsonLeaveCityParams='{}';
    var line_jsonArriveCityParams='{}';
</script>
<!--[if lt IE 9]>

<![endif]-->
<script type="text/javascript"  charset="UTF-8"></script>
<div class="footer">
    <div class="wrap">
        <p><a href="http://www.lvmae.com/news/lvmae/1339.html" target="_blank" rel="nofollow">绿蚂蚁介绍</a><span class="line">|</span><a href="http://www.lvmae.net/list-10-1.html" target="_blank" rel="nofollow">大事记</a><span class="line">|</span><a href="http://www.lvmae.net/list-14-1.html" target="_blank" rel="nofollow">公司动态</a><span class="line">|</span><a href="http://www.lvmae.net/list-13-1.html" target="_blank" rel="nofollow">媒体报告</a><span class="line">|</span><a href="http://www.lvmae.com/about/6.html" target="_blank" rel="nofollow">联系我们</a><span class="line">|</span><a href="http://www.lvmae.net/">绿蚂蚁官网</a></p>
        <p>Copyright © 绿蚂蚁干线<a href="http://www.lvmae.com">物流</a>B2B平台 All rights reserved. <a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备14032800号-1</a></p>
    </div>
</div>
<div class="yb_conct">
    <div class="yb_bar">
        <ul>
            <li class="yb_top">返回顶部</li>
            <li class="yb_phone">400-963-5600</li>
            <li class="yb_QQ">
                <a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" title="">在线咨询</a>
            </li>
            <li class="yb_ercode" style="height:53px;">微信二维码 <br>
                <img class="hd_qr" src="http://www.lvmae.com/skin/default/images/ewm_2.jpg" width="125" alt="绿蚂蚁公众号"> </li>
        </ul>
    </div>
</div>
<span style="display:none;"><script type="text/javascript">
</script></span>
</body>

<script>
    var items = '[[${status}]]';
    function pingjie(){
        if(items=='true'){
          var  startcity= '[[${startcity}]]';
            var  endcity= '[[${endcity}]]';
            findCommBYcity(startcity,endcity);
        }else{
           var nowCity= $("#selectArea").html();
            $.ajax({
                url:"/findNowByAll",
                type:"post",
                data:{
                    "nowCity":nowCity
                },success:function (data) {
                    var str="";
                    for (var i=0;i<data.length;i++) {
                        str+="<a href=javaScript:findCommBYcity('"+nowCity+"','"+data[i]+"')>"+nowCity+"到"+data[i]+"物流专线&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>";
                    }
                    $("#leftDivId").html(str);
                },error:function () {

                }
            });
        }
    }
    //查询所有线路
    function getAllXianLu() {
        $.ajax({
            url:'getAllXianLu',
            success:function (data) {
                var str="";
                for (var i = 0; i < data.length; i++) {
                    str+="<li><a href=''>"+data[i].chufadi+"到"+data[i].mudidi+"物流专线&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>";
                }
                $("#hlDiv").html(str);
            }
        })
    }
    $(function () {
        getDataCity();
        pingjie();
        getbiaoTi();
        getAllXianLu();
    });


    //标题
    function getbiaoTi() {
        $.ajax({
            url: 'getbiaoTi',
            success: function (data) {
                var data=JSON.parse(data);
                var str = '';
                for (var i = 0; i < data.length; i++) {
                    str += '<li><a href="' + data[i].uri + '" >' + data[i].text + '</a></li>';
                }
                $("#biaoTi").html(str);
            }
        })
    }
    function findCommBYcity(startcity,endcity) {
        $.ajax({
            url:"/findCommBYcity",
            type:"post",
            data:{"startcity":startcity,
                "endcity":endcity},
            success:function (data) {
                var str="";
                for (var i=0;i<data.length;i++){
                 alert(data[i].id);
                    str+="<pre>"+data[i].chufadi+"---→"+data[i].mudidi+"                        <a href='/toCommInfo?id="+data[i].id+"'>"+data[i].companyName+"</a>                        重货:面议                        运输时效:24小时</pre><br>" +
                        "<pre>联系人:"+data[i].relationName+"                        联系电话:"+data[i].companyPhone+"                        轻货:面议                        最低一票:面议</pre><br>" +
                        "公司地址:"+data[i].companyProvince+"<br>" +
                        "公司简介:"+data[i].introduction+"<br><br><br><br>";
                }
                $("#leftDivId").html(str);
            },error:function () {

            }
        });
    }
    //获取当前城市
    function getDataCity() {
        $.ajax({
            url:'getDataCity',
            type:"post",
            async:false,
            success:function (data) {
                $("#selectArea").html(data.city);

            }
        })
    }
</script>
</html>
